@{
    Layout = null;
    ViewBag.Title = "Авторизация";
    ViewBag.Users u = new ViewBag.Users(); 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewBag.Title</title>
</head>
<body>
    <div>
        <form method="post">

            <input type="hidden" name="@ViewBag.IDUser" />
            <div>Введите иммя</div>
            <input type="text" name="@ViewBag.UserName" />
            <div>Введите Email</div>
            <input type="text" name="@ViewBag.Email"/>
            <div>Введите пароль</div>
            <input type="text" name="@ViewBag.Password" />
            <button onclick="location.href='/Home/Autorization/@IDUser, @UserName, @Email, @Password'">Зарегаться</button>
        </form>
    </div>
</body>
</html>