@{
    ViewBag.Title = "Home Page";
}
<h1>Хееей, привет бро</h1>
<div>А ты знаешь что тут будет?</div>
<div>Лучше не знай, а регайся быстрей</div>
<div>Кнопка внизу</div>
<div>Ещё ниже</div>
<div>Нуууу, ещё чутка</div>
<button onclick="location.href='/Home/Autorization'">Регистрэйшн</button>
<div>Хей, ты уже переборщил, давай-ка на верх иди</div>


